<%= form_for(@invent_journal) do |f| %>
  <% if @invent_journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invent_journal.errors.count, "error") %> prohibited this invent_journal from being saved:</h2>

      <ul>
      <% @invent_journal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :to_location_id %><br />
    <%= f.number_field :to_location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
