<%= form_for(@packing_slip_line) do |f| %>
  <% if @packing_slip_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@packing_slip_line.errors.count, "error") %> prohibited this packing_slip_line from being saved:</h2>

      <ul>
      <% @packing_slip_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :slip_id %><br />
    <%= f.number_field :slip_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :dimension_id %><br />
    <%= f.number_field :dimension_id %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
