<%= form_for(@invent_transaction) do |f| %>
  <% if @invent_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invent_transaction.errors.count, "error") %> prohibited this invent_transaction from being saved:</h2>

      <ul>
      <% @invent_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invent_item_id %><br />
    <%= f.text_field :invent_item_id %>
  </div>
  <div class="field">
    <%= f.label :invent_location_id %><br />
    <%= f.text_field :invent_location_id %>
  </div>
  <div class="field">
    <%= f.label :status_receipt %><br />
    <%= f.text_field :status_receipt %>
  </div>
  <div class="field">
    <%= f.label :status_issue %><br />
    <%= f.text_field :status_issue %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
