<%= form_for(@invent_journal_line) do |f| %>
  <% if @invent_journal_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invent_journal_line.errors.count, "error") %> prohibited this invent_journal_line from being saved:</h2>

      <ul>
      <% @invent_journal_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invent_journal_id %><br />
    <%= f.number_field :invent_journal_id %>
  </div>
  <div class="field">
    <%= f.label :journal_number %><br />
    <%= f.text_field :journal_number %>
  </div>
  <div class="field">
    <%= f.label :invent_item_id %><br />
    <%= f.number_field :invent_item_id %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
