<%= form_for(@purch_line) do |f| %>
  <% if @purch_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purch_line.errors.count, "error") %> prohibited this purch_line from being saved:</h2>

      <ul>
      <% @purch_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purch_id %><br />
    <%= f.number_field :purch_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :dimension_id %><br />
    <%= f.number_field :dimension_id %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
